.carousel-inner > .carousel-item > img,
  .carousel-inner > .carousel-item > a > img {
    width: auto;
    max-width: 100%;
    max-height: 100vh;
}

.container-fluid{
  margin: 0;
  padding: 0; 
} 

.box-margin{
  margin: 10%;
}

.carousel-inner{
  max-width:100%; 
  max-height:75% !important;
}